:root {
  --text-color-blue: #5179f8;
  --text-color-gray: #383b43;
  --text-color-white: #fff;
  --text-color-black: #000;

  --bg-gradient-main: linear-gradient(180deg, #4b4592 52.45%, #3c65cf 100%),
    linear-gradient(180deg, #374dba 16.93%, #527afb 99.7%);

  --bg-gradient-second: linear-gradient(
    180deg,
    #527afb 10%,
    #302b64 60%,
    #1a1a27 100%
  );

  --bg-black-900: #000000;
  --bg-black-700: #101116;
  --bg-black-600: #0f1015;
  --bg-black-500: #1b1b1d;

  --bg-white-900: #fff;
  --bg-white-800: #ffefef;
  --bg-white-700: #e8e7e7;

  --border-color-gray: #5c5757;
  --border-color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/*
=============== Fonts ============== 
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif; 
====================================
*/

body {
  background: var(--bg-black-600);
}

header,
.home,
.works,
.experience {
  padding: 0 4%;
}

header .padding-global {
  max-width: 1380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 64px;
  margin: auto;
  gap: 32px;

  border-radius: 32px;
  border: 1px solid var(--border-color-gray);
  box-shadow: 0px 0px 10px var(--bg-black-700);
  background-color: var(--bg-black-700);

  color: var(--text-color-white);
  margin-top: 10px;
  margin-bottom: 52px;
  z-index: 1000;
  position: relative;

  animation: animate-header linear 1ms;
  animation-timeline: scroll();
  animation-range: 0 100px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes animate-header {
  from {
    background-color: var(--bg-black-600);
    border: 1px solid transparent;
    margin-top: 38px;
  }
  to {
    margin-top: 10px;
  }
}

header .logo a {
  font-size: 1rem;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: var(--text-color-white);
}

header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

header .navbar ul li a,
.contato a {
  color: var(--text-color-white);
  font-family: "Roboto", sans-serif;
}

header .navbar ul li a:hover {
  color: var(--text-color-blue);
}

header .contato {
  display: flex;
  gap: 10px;
  align-items: center;
}

header .contato span {
  transition: 0.3s ease-in-out;
}

header .menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  cursor: pointer;
}

header .padding-global .menu-hidden {
}

header .menu div {
  width: 30px;
  height: 2px;
  background: var(--bg-white-900);
  transition: 0.3s ease-in-out;
}

header .menu div:nth-child(1) {
  width: 30px;
}
header .menu div:nth-child(2) {
  width: 25px;
}
header .menu div:nth-child(3) {
  width: 20px;
}

header .menu:hover div:nth-child(1) {
  width: 20px;
}
header .menu:hover div:nth-child(2) {
  width: 25px;
}
header .menu:hover div:nth-child(3) {
  width: 30px;
}

header .contato:hover span {
  transform: translate(10px);
}

.home {
  margin-top: 146px;
}

.home .padding-global {
  max-width: 1380px;
  margin: auto;
  display: flex;
  padding: 28px 30px 0 80px;
  justify-content: space-between;

  background: url(../img/bg-home.png), url(../img/bg-developer.png),
    var(--bg-gradient-main);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

  border-radius: var(--Padding-Defualt, 32px);
  overflow: hidden;
  margin-bottom: 100px;
}

.home .content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  color: var(--text-color-white);
  z-index: 2;
}

.home .content h1 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 3.3rem;
  font-weight: 400;
  line-height: 144%;
  letter-spacing: 2px;
}

.home .content h1,
p,
.home .image-developer {
  z-index: 100;
}

.home .content p {
  max-width: 500px;
  color: var(--text-color-white);
  font-family: Inter;
  font-size: 1.152rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.buttons {
  display: flex;
  gap: 25px;
}

.buttons a:hover {
  background: var(--bg-black-500);
  border: none;
}

.buttons a:nth-child(3) {
  animation: transition-button 0.6s linear;
}

.buttons a:nth-child(2) {
  animation: transition-button 0.8s linear;
}

.buttons a:nth-child(1) {
  animation: transition-button 1s linear;
}

@keyframes transition-button {
  from {
    transform: translate(-40vw);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89.699px;
  height: 89.699px;
  flex-shrink: 0;
  border: 1px solid var(--bg-white-900);
  border-radius: 100%;
}

.home .image-developer {
  width: 55%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .image-developer img {
  margin-left: 70px;
  margin-bottom: 40px;
  animation: transition-developer 1s ease-in-out;
}

.bg-ellipse {
  width: 100%;
  height: 757.028px;
  position: absolute;
  top: -440px;
  left: 0;

  border-radius: 1506.289px;
  background: #0f1015;
  filter: blur(60px);
  z-index: 0;
}

@keyframes transition-developer {
  from {
    transform: translateY(-40vw);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.works {
  background: var(--bg-black-500);
}

.works .padding-global {
  max-width: 1380px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto;
  padding: 80px 0;
}

.works .title {
  display: flex;
  justify-content: space-between;
}

.works .title h1 {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-white);
  font-size: 3.75rem;
  font-weight: 400;

  animation: reveal 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.works .title a {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg-white-900);
  color: var(--text-color-black);
  font-family: "Inter", sans-serif;
  border-radius: 32px;
  text-transform: uppercase;
  font-size: 0.75rem;

  animation: reveal-right 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.works .two-projects {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.works .project {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.works .project-img {
  position: relative;
}

.works .project-img a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 50px;
  color: var(--text-color-white);
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 100%;
  background: var(--bg-black-500);
  z-index: 4;

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
}

.works .project-img:hover a {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  opacity: 1;
}

.works .project-img a:hover {
  background: var(--text-color-blue);
  transition: 0.1s;
}

.works .two-projects .project {
  width: 100%;
}

.works .two-projects .project img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;

  animation: reveal-left 1s ease-in-out;
  animation-timeline: view(80% 0%);
  animation-range: cover 0% cover 40%;
}

.works .two-projects .project .photo-right {
  animation: reveal-right 1s ease-in-out;
  animation-timeline: view(80% 0%);
  animation-range: cover 0% cover 40%;
}

.reveal-bottom {
  animation: reveal-bottom 1s ease-in-out;
  animation-timeline: view(80% 0%);
  animation-range: cover 0% cover 40%;
}

@keyframes reveal-right {
  from {
    opacity: 0;
    transform: translate(80px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes reveal-left {
  from {
    opacity: 0;
    transform: translate(-80px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes reveal-bottom {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.works .project .settings {
  display: flex;
  gap: 16px;
}

.works .project .settings span {
  border: 1px solid var(--bg-white-900);
  border-radius: 32px;
  color: var(--text-color-white);
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
}

.works .project h2 {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-white);
  font-size: 1.125rem;
  font-weight: 400;
}

.works .one-project .project img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  border-radius: 1rem;
}

.experience {
  background: var(--bg-black-700);
}

.experience .padding-global {
  color: var(--text-color-white);
  border-radius: 32px;
  background: var(--bg-black-900);
  max-width: 1380px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto;
  margin-top: 80px;
}

.experience .content {
  display: flex;
  gap: 80px;
  padding: 120px 32px;
  border-radius: 32px;
  justify-content: space-between;
}

.experience .content .title {
  width: 639px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.experience .content .title h2 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  animation: reveal 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.experience .content .title p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 144%;

  animation: reveal-left 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.experience .content .title .button-contact {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
  animation: reveal-left 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.experience .content .title .button-contact a {
  border-radius: 32px;
  border: 1px solid var(--bg-white-900);
  padding: 20px 40px;
  color: var(--text-color-white);
  text-transform: uppercase;
}

.experience .content .title .button-contact p {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

.experience .content-help {
  width: 700px;
  margin-top: -32px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 2.5rem;
}

.experience .content-help .accordion {
  padding: 32px 0;
  border-bottom: 1px solid var(--bg-white-900);
}

.experience .content-help .accordion h3 {
  animation: reveal-right 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.about,
.search-developer {
  padding: 0 4%;
  background: url(../img/bg-home.png), url(../img/bg-developer.png),
    var(--bg-gradient-main);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 32px;
}

.about .padding-global {
  padding: 120px 0;
  max-width: 1380px;
  margin: auto;
}

.about .padding-global .container {
  display: flex;
}

.about .padding-global .container .developer img {
  width: 520px;
  height: 620px;
  object-fit: cover;
  filter: grayscale(1);
  border-radius: 16px;

  animation: reveal 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.about .padding-global .container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  gap: 32px;
}

.about .padding-global .container .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 557px;
  color: var(--text-color-white);
  justify-content: center;
}

.about .padding-global .container .content h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3.75rem;

  animation: reveal-right 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.about .padding-global .container .content p {
  font-family: "Inter", sans-serif;
  line-height: 144%;

  animation: reveal-right 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.about .padding-global .container .content a {
  text-align: center;
  background: var(--bg-white-900);
  color: var(--text-color-black);
  padding: 20px 40px;
  border-radius: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.faqs {
  padding: 0 4%;
  background: var(--bg-black-600);
}

.faqs .padding-global,
.search-developer .padding-global {
  max-width: 1380px;
  padding: 64px 0;
  margin: auto;
}

.faqs .padding-global .faq {
  color: var(--text-color-white);
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid var(--bg-white-900);
}

.faqs .padding-global .faq p {
  display: none;
  padding-bottom: 30px;
}

.faqs .padding-global .faq .slide-down {
  display: block;
}

.faqs .padding-global .faq .btn-slide-down {
  transform: rotate(0deg);
  transition: 0.1s linear;
}

.faqs .padding-global .faq .btn-rotate {
  transform: rotate(90deg);
  transition: 0.1s linear;
}

.faqs .padding-global .faq summary {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 400;
  padding: 32px 32px 32px 0;

  animation: reveal-left 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.faqs .padding-global .faq li {
  margin-bottom: 32px;
  line-height: 1.6rem;
}

.faqs .padding-global .faq summary span {
  cursor: pointer;
}

.search-developer {
  border-radius: 32px 32px 0 0;
  padding-bottom: 70px;
}

.search-developer .padding-global {
  display: flex;
  justify-content: space-between;
  padding: 64px 20px;
  align-items: center;
}

.search-developer .search {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 500px;
  color: var(--text-color-white);
}

.search-developer .search h1 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  line-height: 144%;
  font-size: 3rem;
  margin-bottom: 60px;
  animation: reveal 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.search-developer .search p {
  font-family: "Inter", sans-serif;
  line-height: 144%;
  font-size: 1.25rem;

  animation: reveal-left 1s ease-in-out;
  animation-timeline: view(80% 0%);
}

.search-developer .qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.search-developer .qr-code h2 {
  font-family: "Roboto Flex", sans-serif;
  line-height: 144%;
  font-weight: 400;
  font-size: 2.75rem;
  color: var(--text-color-white);
}

.search-developer .qr-code .card {
  width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-white-900);
  border-radius: 56px;
  padding: 48px;
  gap: 48px;
}

.search-developer .qr-code .card img {
  width: 188px;
  height: 188px;
}

.search-developer .qr-code .card p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: var(--text-color-gray);
  line-height: 144%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background: var(--bg-black-600);
  color: var(--text-color-white);
  padding: 40px;
  gap: 10px;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
}

footer .buttons {
  gap: 10px;
}

footer .copy {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

footer .copy p {
  position: relative;
}

footer .copy p::after {
  content: "";
  width: 15px;
  height: 1px;
  background: var(--bg-white-900);
  position: absolute;
  right: -30px;
  top: 8px;
}

footer .buttons a {
  width: 30.699px;
  height: 30.699px;
  border: none;
}

footer .buttons a img {
  width: 20.699px;
  height: 20.699px;
}

@media screen and (max-width: 1500px) {
  header .padding-global {
    margin-left: 4%;
    margin-right: 4%;
  }
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 87.5%;
  }
  .home .content {
    max-width: 400px;
  }

  .home .image-developer img {
    width: 400px;
  }
}

@media screen and (max-width: 1130px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1070px) {
  .experience .content .title .button-contact a {
    padding: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .home .padding-global {
    padding: 28px 30px 0 30px;
  }

  .about .padding-global .container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .about .padding-global .container .developer img {
    animation: reveal-left 1s ease-in-out;
    animation-timeline: view(80% 0%);
  }
}

@media screen and (max-width: 1000px) {
  header .menu {
    display: flex;
  }

  header .padding-global .navbar,
  header .padding-global .contato {
    display: none;
  }

  .home .padding-global {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .home .content {
    max-width: 700px;
    text-align: center;
  }

  .home .content p {
    max-width: 700px;
  }

  .home .content .buttons {
    justify-content: center;
  }

  .home .image-developer {
    width: 100%;
  }

  .home .image-developer img {
    margin: 0;
  }

  .experience .content {
    flex-direction: column;
    align-items: center;
  }

  .experience .content-help .accordion h3 {
    animation: reveal-left 1s ease-in-out;
    animation-timeline: view(80% 0%);
  }

  .faqs .padding-global .faq summary {
    font-size: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .experience .content-help {
    width: 100%;
  }

  .search-developer .padding-global {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .search-developer .padding-global .search h1 {
    margin-bottom: 20px;
  }

  .search-developer .padding-global .search .buttons {
    justify-content: center;
  }

  .works .two-projects {
    flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  .experience .content .title {
    width: 100%;
  }
}
