:root {
  --text-color-blue: #5179f8;
  --text-color-gray: #383b43;
  --text-color-white: #fff;
  --text-color-black: #000;

  --bg-gradient-main: linear-gradient(180deg, #4b4592 52.45%, #3c65cf 100%),
    linear-gradient(180deg, #374dba 16.93%, #527afb 99.7%);

    --bg-gradient-second: linear-gradient(180deg, #527AFB 10%, #302b64 60%, #1A1A27 100%);

  --bg-black-900: #000000;
  --bg-black-700: #101116;
  --bg-black-600: #0f1015;
  --bg-black-500: #1b1b1d;

  --bg-white-900: #fff;
  --bg-white-800: #ffefef;

  --border-color-gray: #5c5757;
  --border-color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*
=============== Fonts ============== 
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif; 
====================================
*/

body {
  background: var(--bg-black-600);
}

header, .home, .works, .experience {
  padding: 0 4%;
}

header .padding-global {
  max-width: 1380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 64px;
  margin: auto;
  gap: 32px;

  border-radius: 32px;
  border: 1px solid var(--border-color-gray);
  background-color: var(--bg-black-700);

  color: var(--text-color-white);
  margin-top: 38px;
  margin-bottom: 52px;
  z-index: 3;
  position: relative;
}

header .logo h1 {
  font-size: 1rem;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
}

header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

header .navbar ul li a,
.contato a {
  color: var(--text-color-white);
  font-family: "Roboto", sans-serif;
}

header .contato {
  display: flex;
  gap: 10px;
  align-items: center;
}

.home .padding-global {
  max-width: 1380px;
  margin: auto;
  display: flex;
  padding: 28px 30px 0 80px;
  justify-content: space-between;
  background: url(../img/bg-home.png), var(--bg-gradient-main);
  border-radius: var(--Padding-Defualt, 32px);
  overflow: hidden;
  margin-bottom: 100px;
}

.home .content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  color: var(--text-color-white);
}

.home .content h1 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 3.3rem;
  font-weight: 400;
  line-height: 144%;
  letter-spacing: 2px;
}

.home .content h1,
p,
.home .image-developer {
  z-index: 1000;
}

.home .content p {
  max-width: 500px;
  color: var(--text-color-white);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.home .content .buttons {
  display: flex;
  gap: 25px;
}

.home .content .buttons a:nth-child(3) {
  animation: transition-button 0.6s linear;
}

.home .content .buttons a:nth-child(2) {
  animation: transition-button 0.8s linear;
}

.home .content .buttons a:nth-child(1) {
  animation: transition-button 1s linear;
}

@keyframes transition-button {
  from {
    transform: translate(-40vw);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.home .content .buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89.699px;
  height: 89.699px;
  flex-shrink: 0;
  border: 1px solid var(--bg-white-900);
  border-radius: 100%;
}

.home .image-developer {
  width: 55%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../img/bg-developer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home .image-developer img {
  margin-left: 70px;
  margin-bottom: 40px;
  animation: transition-developer 1s ease-in-out;
}

.bg-ellipse {
  width: 100%;
  height: 757.028px;
  position: absolute;
  top: -340px;
  left: 0;

  border-radius: 1506.289px;
  background: #0f1015;
  filter: blur(60px);
  z-index: 0;
}

@keyframes transition-developer {
  from {
    transform: translateY(-40vw);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.works {
  background: var(--bg-black-500);
}

.works .padding-global {
  max-width: 1380px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  padding: 80px 0;
}

.works .title {
  display: flex;
  justify-content: space-between;
}

.works .title h1 {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-white);
  font-size: 3.75rem;
  font-weight: 400;
}

.works .title a {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg-white-900);
  color: var(--text-color-black);
  font-family: "Inter", sans-serif;
  border-radius: 32px;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.works .two-projects {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.works .project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.works .two-projects .project {
  width: 100%;
}

.works .two-projects .project img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 1rem;
}

.works .project .settings {
  display: flex;
  gap: 1rem;
}

.works .project .settings span {
  border: 1px solid var(--bg-white-900);
  border-radius: 2rem;
  color: var(--text-color-white);
  padding: 0.5rem 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
}

.works .project h2 {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-white);
  font-size: 1.125rem;
  font-weight: 400;
}

.works .one-project .project img {
  max-height: 800px;
  object-fit: cover;
  border-radius: 1rem;
}

.experience {
  background: var(--bg-black-700);
}

.experience .padding-global {
  color: var(--text-color-white);
  border-radius: 2rem;
  background: var(--bg-black-900);
  max-width: 1380px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  margin-top: 80px;
}

.experience .content {
  display: flex;
  gap: 80px;
  padding: 120px 32px;
  border-radius: 2rem;
  justify-content: space-between;
}

.experience .content .title {
  width: 639px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.experience .content .title h2 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
}

.experience .content .title p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 144%;
}

.experience .content .title .button-contact {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
}

.experience .content .title .button-contact a {
  border-radius: 2rem;
  border: 1px solid var(--bg-white-900);
  padding: 20px 40px;
  color: var(--text-color-white);
  text-transform: uppercase;
}

.experience .content .title .button-contact p {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  
}

.experience .content-help {
  width: 700px;
  margin-top: -32px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 2.5rem;
}

.experience .content-help .accordion {
  padding: 32px 0;
  border-bottom: 1px solid var(--bg-white-900);
}

.about {
  padding: 0 4%;
  background: url(../img/bg-home.png), var(--bg-gradient-second);
  border-radius: 2rem;
}

.about .padding-global {
  padding: 120px 0;
  max-width:1380px;
  margin: auto;
}

.about .padding-global .container {
  display: flex;
}

.about .padding-global .container .developer img {
  width: 520px;
  height: 620px;
  object-fit: cover;
  filter: grayscale(1);
  border-radius: 1rem;
}

.about .padding-global .container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  gap: 2rem;
}

.about .padding-global .container .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 557px;
  color: var(--text-color-white);
  justify-content: center;
}

.about .padding-global .container .content h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3.75rem;
}

.about .padding-global .container .content p {
  font-family: "Inter", sans-serif;
  line-height: 144%;
}

.about .padding-global .container .content a {
  width: 380px;
  background: var(--bg-white-900);
  color: var(--text-color-black);
  padding: 20px 40px;
  border-radius: 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}